:root {
    --light-green: hsl(148, 38%, 91%);
    --medium-green: hsl(169, 82%, 27%);
    --red: hsl(0, 66%, 54%);
    --white: hsl(0, 0%, 100%);
    --medium-grey: hsl(186, 15%, 59%);
    --dark-grey: hsl(187, 24%, 22%);
}

body {
    background-color: var(--light-green);
    position: relative;
    font-family: "karla";
    height: 150vh;
    width: 100vw;
    box-sizing: border-box;
}


form.container {
    width: 50vw;
    height: 110vh;
    background-color: var(--white);
    position: absolute;
    left: 23%;
    top: 8%;
    display: grid;
    gap: 5%;
    padding: 3% 1.4% 3.5% 3%;
    border-radius: 10px;
}


h1.heading {
    font-size: 1.2rem;
    color: var(--dark-grey);
    margin: 0;
    padding: 0;
    font-weight: 700;
}

section.name label, 
div.Email label,
div.text-message label {
    display: block;
    color: var(--dark-grey);
}

section.name input, 
div.Email input {
    height: 75%;
}

section.name input {
    width: 95%;
}

div.Email input,
textarea {
    width: 97.5%;
}

section.name input,
div.Email input,
textarea {
    appearance: none;
    border-radius: 5px;
    border: 1px solid var(--medium-grey);
}

section.name,
div.query-choice-inner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

div.query-choice-inner {
    margin-top: 10px;
}

.query-choice  > span {
    display: block;
    color: var(--dark-grey);
}

.query-choice > div.query-choice-inner div {
    border: 1px solid var(--medium-grey);
    height: 125%;
    width: 95%;
    border-radius: 5px;
    position: relative;
}

.query-choice input,
input[type='email'],
.consent-check input {
    appearance: none;
}

.query-choice label {
    position: absolute;
    left: 17%;
    top: 27%;
}

.query-choice input::after {
    content: '';
    display: block;
    border-radius: 50%;
    height: 8px;
    width: 8px;
    border: 1px solid var(--medium-grey);
    position: absolute;
    top: 30%;
    left: 8%;
}

.consent-check {
    position: relative;
}

.consent-check label {
    font-weight: 400;
    position: absolute;
    top: 20%;
    left: 6%;
}

.consent-check input::after {
    content: "";
    display: block;
    height: 10px;
    width: 10px;
    border: 1px solid var(--medium-grey);
    position: absolute;
    top: 20%;
    left: 0;
}

label,
span {
    font-size: 10px;
    font-weight: 700;
}

label {
    margin-bottom: 5px;
}

label > span,
span > span {
    color: var(--medium-green);
    margin-left: 5px;
}

input,
textarea,
span,
button {
    font-family: inherit;
    resize: none;
    box-sizing: border-box;
}

button {
    font-size: 10px;
    font-weight: 700;
    height: 125%;
    width: 98%;
    border-radius: 5px;
    border: none;
    background-color: var(--medium-green);
    color: var(--white);
}

/*styling the checked state of the checkboxes*/

.query-choice > .query-choice-inner div:hover,
input[type='email']:hover,
input[type='text']:hover,
textarea:hover,
input[type='email']:focus,
input[type='text']:focus,
textarea:focus,
input[type='text']:valid,
textarea:valid,
input[type='email']:valid
 { 
    outline: none;
    border:1px solid var(--medium-green);
    background-color: white;
}

label,
input {
    cursor: pointer;
}

.query-choice-inner input:checked::after {
    background-image: url(./assets/images/icon-radio-selected.svg);
    background-repeat: no-repeat;
    background-size: 10px 10px;
    height: 12px;
    width: 12px;
    border: none;
}

.consent-check input:checked::after {
    background-image: url(./assets/images/icon-checkbox-check.svg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 12px;
    width: 12px;
    border: none;
}

/*styling the error state*/

